.product-detail{
    border-radius: 4px;
    border: 2px solid #888;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 200px;
    margin: 0 8px 16px;
    line-height: 30px;
}
.border-change{
    border:none;
}
.heading-text{
    font-weight:bold ;
    color:#e2439a;
    margin-right:20px;
}
@media (prefers-reduced-motion: no-preference) {
    .img-logo {
    height:310px;
      animation: App-logo-float infinite 3s ease-in-out;
    }
  }
@keyframes App-logo-float {
    0% {
        transform: rotateY(0deg); 
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.text-align{
    display: flex;
}

.align-goback{
    text-align: start;
    margin-left:20px;
}