
.App {
  margin-top:50px;
  text-align: center;
}
.dropdown-align{
  color:blue;
  text-decoration: white;
  border:1px solid #007bff;
  border-radius: .25rem;
}
.font-change{
  color: white;
}
.margin-adjust{
  margin-right:10px;
}
.background-pic{
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
